@use 'variables' as *;

button{
  cursor: pointer;
}
header {
  background-color: $primary_color;
  nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    .container-img {
      width: 20%;
      img {
        width: 100px;
        height: 100px;
      }
    }
    ul {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      li {
        list-style: none;
        a {
          color: $white-smoke;
          text-decoration: none;
          border-radius: 1rem;
          background-color: transparent;
          &:hover {
            background: $primary_color_hover;
          }
        }
      }
    }
    button {
      border: none;
      border-radius: 0.5rem;
      padding: 0.5rem 2rem;
      margin: auto;
      margin-right: 2rem;
    }
  }
}
.banner {
  .container-banner {
    height: 100vh;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    .banner-img {
      width: 40%;
      img {
        width: 100%;
      }
    }
    .banner-info {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h2 {
        margin-bottom: 1rem;
        text-align: right;
      }
      p {
        text-align: right;
      }
      button {
        margin-top: 2rem;
        border: none;
        border-radius: 0.5rem;
        padding: 0.5rem 2rem;
        background-color: $accent_color;
        color: $white-smoke;
      }
    }
  }
}
.whyPay{
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  justify-content: center;
  min-height: 90vh;
  box-sizing: border-box;
  padding: 2rem 0px 0px 0px;
  .container{
    width: 80%;
    margin: auto;
    text-align: center;
  }
  h2{
    width: 80%;
    margin: auto;
  }
}
.howUse {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  justify-content: center;
  background-color: $accent_color;
  min-height: 90vh;
  box-sizing: border-box;
  padding: 2rem 0px 0px 0px;
  h2 {
    width: 80%;
    margin: 0 auto;
  }
  .container-cards {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 80%;
    justify-content: space-between;
    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      width: 30%;
      img {
        width: 80%;
        margin-bottom: 2rem;
      }
      h3 {
        font-weight: bold;
        text-align: center;
      }
      p {
        margin-top: 1rem;
        color: $white-smoke;
        text-align: center;
      }
      .btn {
        text-decoration: none;
        background-color: $white-smoke;
        color: $accent_color;
        padding: 0.5rem 2rem;
        border-radius: 5px;
        margin-top: 0.5px;
        text-align: center;
      }
    }
  }
}
.benefits {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  justify-content: center;
  min-height: 90vh;
  h2 {
    width: 80%;
    margin: 0 auto;
  }
  .container {
    height: 100vh;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    .left {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 3rem;
      .info {
        width: 100%;
        h2 {
          margin: 0;
          font-weight: bold;
          width: 100%;
        }
      }
      .alingRight {
        text-align: right !important;
        h2 {
          text-align: right;
        }
      }
    }
    .right {
      width: 40%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      img {
        width: 100%;
      }
    }
  }
}
.simulator{
    h2{
        width: 80%;
        margin: auto;
    }
    .container{

    }
}
footer {
  background-color: $accent_color;
  color: antiquewhite;
  padding: 60px 80px;
  .footer-col {
    display: flex;
    justify-content: space-between;
    gap: 60px;
  }
}
