.container{
  width: 80%;
  margin: auto;
  h2{
    margin-bottom: 2rem;
    margin-top: 3rem;
  }
}
.form-card {
  margin: 20px auto;
  max-width: 800px;
  padding: 1rem;
}

.result-card {
  margin: 2rem auto;
  width: 60%;
  background-color: #f8f9fa;
  padding: 1rem 2rem;
  box-sizing: border-box;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

.radio-group {
  margin-top: 1rem;
}

.actions {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
}

.total {
  font-size: 1.2rem;
  color: #2e7d32;
}
