@use 'variables' as *;
.auth-card {
  max-width: 400px;
  margin: 60px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.w-full {
  width: 100%;
}

.text-center {
  text-align: center;
}

.mt-3 {
  margin-top: 1rem;
}
button{
    background-color: $accent-color;
    color:  $white-smoke;
    padding: 0.5rem 1.3rem;
    border: none;
    border-radius: 5px;
}